#execution span,
#correction-count,
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a.switch {
    color: white;
    background: darkgrey;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

body.syntax-full a.switch.full,
body.syntax-text a.switch.text {
    background: #cc0000;
}

body.syntax-text span.syntax-full {
    display: none;
}

textarea,
table,
td,
pre,
span {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
    margin: 2em;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

textarea {
    font-size: 85%;
    padding: 7px;
    border: 2px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0 0.5em;
    resize: vertical;
    height: 41px;
    min-height: 41px;
    border-radius: 3px;
    line-height: 23px;
}

textarea:focus {
    outline: none;
}

.overflow {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    border-bottom: 2px solid lightgrey;
}

th,
td {
    border: 1px solid lightgrey;
    white-space: nowrap;
    text-align: left;
    padding: 0;
}

th {
    padding: 5px;
    background: rgb(236, 236, 236);
    border-bottom: 2px solid lightgrey;
}

tr:hover {
    background: rgba(255, 209, 65, 0.4);
}

td {
    padding: 3px 5px;
    font-size: 14px;
    vertical-align: top;
}

th.number,
td.number {
    text-align: right;
}

td.lexeme,
td.source {
    padding: 0;
}

td.source pre span {
    padding: 3px 0;
    display: inline-block;
}

td.source pre span.mark {
    background: rgb(152, 219, 255);
}

tr:hover td.source pre span.mark {
    background: rgb(203, 149, 255);
}

tr:hover td.source pre span.before,
tr:hover td.source pre span.after {
    background: rgb(234, 213, 255);
}

td.source pre span.before,
td.source pre span.after {
    color: rgb(168, 168, 168);
    background: rgba(145, 240, 120, 0.25);
}

td pre {
    margin: 0;
}

p {
    line-height: 1.6em;
    margin: 0.5em 0;
}

pre.correction,
pre.translation {
    display: inline-block;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 3px;
    background: white;
    font-size: 14px;
}

pre.correction span,
pre.translation span {
    background: rgba(145, 240, 120, 0.25);
    cursor: default;
    padding: 3px 0;
    display: inline-block;
}

pre.correction span:hover {
    background: rgb(234, 213, 255);
}

pre.correction span.mark {
    background: rgb(152, 219, 255);
}

tr.unknown td.source pre span.mark,
pre.correction span.mark:hover {
    background: red;
    color: white;
}

p.syntax span,
p.special span {
    font-size: 85%;
    background: rgba(145, 240, 120, 0.5);
    padding: 3px 6px;
    border-radius: 3px;
    cursor: default;
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    background: rgba(27,31,35,0.05);
    padding: 3px 6px;
    border-radius: 3px;
    cursor: default;
}

p.syntax {
    margin: 0.5em 0 0.75em;
}

p.special span {
    background: rgba(240, 191, 81, 0.5);
}

#syntax-tree pre {
    font-size: 22px;
    color: rgb(212, 212, 212);
    line-height: 1.3em;
    margin: 0;
}

#syntax-tree pre span {
    background: rgb(236, 236, 236);
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.6em;
    color: #444;
}

#syntax-tree pre span.query {
    padding: 1px 4px;
    border: 2px solid rgba(190, 139, 240, 0.8);
    background: rgba(190, 139, 240, 0.5);
}

#syntax-tree pre span.group {
    padding: 1px 4px;
    border: 2px solid rgba(147, 223, 240, 0.8);
    background: rgba(147, 223, 240, 0.5);
}

#syntax-tree pre span.operator {
    padding: 1px 4px;
    border: 2px solid rgba(145, 240, 120, 0.8);
    background: rgba(145, 240, 120, 0.5);
}

#syntax-tree pre span.term {
    padding: 1px 4px;
    border: 2px solid rgba(240, 209, 67, 0.8);
    background: rgba(240, 209, 67, 0.5);
}

#syntax-tree pre span span {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 0 2px;
    color: ghostwhite;
}

#execution {
    margin: 0 5px;
    font-size: 13px;
    text-align: right;
}

div.tabs {
    margin:15px 0 0;
}

section {
    display: none;
    padding: 30px 0;
    border-top: 2px solid lightgrey;
}

input.tab {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 15px 9px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
}

label:before {
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    cursor: pointer;
}

input:checked + label {
    background: rgb(236, 236, 236);
    border-radius: 6px 6px 0 0;
}

#tab1:checked ~ #syntax-tree,
#tab2:checked ~ #token-table,
#tab3:checked ~ #corrections,
#tab4:checked ~ #translations {
    display: block;
}
