name: Tests
on:
    push:
        branches:
            - 'master'
    pull_request: ~
jobs:
    tests:
        name: PHP ${{ matrix.php }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                include:
                    - php: '7.0'
                    - php: '7.1'
                    - php: '7.2'
                    - php: '7.3'
                    - php: '7.4'
                    - php: '8.0'
                    - php: '8.1'
        steps:
            - uses: actions/checkout@v2
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: xdebug
            # Read-only OAuth token to work around GitHub API rate limits
            - run: composer config -g github-oauth.github.com "4b3b0a83ea27d9544d3608a384c7a14625a98804"
            - run: composer --version
            - run: composer validate --strict
            - run: composer update --prefer-dist
            - run: vendor/bin/phpunit -c phpunit.xml --colors=always --coverage-clover=coverage.xml
            - run: bash <(curl -s https://codecov.io/bash) -F all
