name: Tests

on:
    push:
        branches: ['master']
    pull_request:

jobs:
    tests:
        name: PHP ${{ matrix.php }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php: '7.0'
                    - php: '7.1'
                    - php: '7.2'
                    - php: '7.3'
                    - php: '7.4'
                    - php: '8.0'
                    - php: '8.1'
                    - php: '8.2'
                    - php: '8.3'
                    - php: '8.4'
                    - php: '8.5'

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: xdebug

            - name: Configure Composer (public deps)
              run: |
                  composer config -g github-protocols https
                  composer config -g use-github-api false

            - name: Composer version
              run: composer --version

            - name: Validate composer.json
              run: composer validate --strict

            - name: Install dependencies
              run: composer update --prefer-dist

            - name: Run PHPUnit with coverage
              run: vendor/bin/phpunit -c phpunit.xml --colors=always --coverage-clover=coverage.xml

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                  files: ./coverage.xml
                  flags: all
                  fail_ci_if_error: true
